{% extends 'base.twig' %}
{% block content %}

<h1 class="align-center major">
    {{ data.article.titre }}
    {{ data.article.content }}
</h1>

  {# AFFICHER TOUS LES COMMENTAIRES - genre popu up ???
    
    
    Formulaire de commentaires #}  
{% endblock %}