<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin | {{ title }}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/public/assets/css/registration.css" />
    <link rel="stylesheet" href="/public/assets/css/delete.css" />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.8.2/tinymce.min.js" integrity="sha512-laacsEF5jvAJew9boBITeLkwD47dpMnERAtn4WCzWu/Pur9IkF0ZpVTcWRT/FUCaaf7ZwyzMY5c9vCcbAAuAbg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/assets/js/texteblog.js"></script>

    <script>
        {% block javascript %}
        {% endblock %};
        window.onload= function(){
            if (notifications !== null) {
               for(let i=0; i<notifications.length; i++){
                    M.toast({html: notifications[i].message, class:notifications[i].type})
                }
            }
        }
    </script>
</head>

<body>
    {% block content %}
    {% endblock %}
</body>

</html>