<html>

<head>
    <title>KaSr's Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css" integrity="sha512-OdEXQYCOldjqUEsuMKsZRj93Ht23QRlhIb8E/X0sbwZhme8eUw6g8q7AdxGJKakcBbv7+/PX0Gc2btf7Ru8cZA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <script src="/public/assets/js/jquery.min.js" defer></script>
    <script src="/public/assets/js/browser.min.js" defer></script>
    <script src="/public/assets/js/breakpoints.min.js" defer></script>
    <script src="/public/assets/js/main.js" defer></script>
    <noscript>
        <link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>
{% block body %}

<body class="is-preload">

    <div id="page-wrapper">
        <div id="wrapper">

            <section class="panel banner right">
                <div class="intro color2">
                    {% block nav %}
                    <nav id="nav">
                        <ul>
                            <li class="special">

                                <div id="menu">
                                    <ul>
                                        <li><a href="/home">Accueil</a></li>
                                        <li><a href="/articles">Tous les posts</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="#">Inscription</a></li>
                                        <li><a href="#">Connexion</a></li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    {% endblock %}
                </div>
                {% endblock %}

            </section>

            {% block content %}{% endblock %}
            <div class="copyright">
                <p>&copy; 2021 Ka's Blog<a href="https://html5up.net">Design</a>.</p>
                <p>Se connecter ADMIN</p>
    
            </div>
        </div>
      
    </div>


<footer>
    
		
</footer>


</body>
</html>