<html>

<head>
    <title>KaSr's Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="public/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

    <div id="page-wrapper">
        <div id="wrapper">

            <section class="panel banner right">
                <div class="intro color2">
                    <nav id="nav">
                        <ul>
                            <li class="special">

                                <div id="menu">
                                    <ul>
                                        <li><a href="index.html">Accueil</a></li>
                                        <li><a href="generic.html">Tous les posts</a></li>
                                        <li><a href="elements.html">Contact</a></li>
                                        <li><a href="#">S'inscrire</a></li>
                                        <li><a href="#">Se connecter</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>


            </section>
            {% block content %}{% endblock %}
            <div class="copyright">&copy; 2021 Ka's Blog<a href="https://html5up.net">Design</a>.</div>
        </div>
    </div>
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/js/browser.min.js"></script>
    <script src="public/assets/js/breakpoints.min.js"></script>
    <script src="public/assets/js/main.js"></script>

</body>

</html>