{% extends 'base.twig' %}

{% block content %}

<section class="panel color4-alt size">
    <div class="intro color4" style="width: 80%">
        <h2 class="major">Contact</h2>
        <p>Formulaire de contact</p>
        <div class="inner columns divided">

            <div class="span-5"  style="width:100%">
                <form method="post" action="#">
                    <div class="fields">
                        <div class="field half">
                            <label for="name">Name</label>
                            <input type="text" name="name" id="name" />
                        </div>
                        <div class="field half">
                            <label for="email">Email</label>
                            <input type="email" name="email" id="email" />
                        </div>
                        <div class="field">
                            <label for="message">Message</label>
                            <textarea name="message" id="message" rows="4"></textarea>
                        </div>
                    </div>
                    <ul class="actions">
                        <li><input type="submit" name="send" value="Send Message" class="button primary" /></li>
                    </ul>
                </form>
            </div>




        </div>
    </div>

</section>



{% endblock %}