<!DOCTYPE html>
<html lang="fr">

<head>
  <title>Suppression commentaire</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/public/assets/css/delete.css" />

  {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> #}
  <noscript>
    <link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>

<body>
  
        <div class="center">
          <h1 >Suppression d'un commentaire</h1>
       
        </div>
        <div class="center">
          <p>{{ data.message }} ?</p>
        </div>
        <div class="center d-flex">
          <form action="" method="POST">
            <button type="submit" class="btn btn-grad" name="removeContent" data-bs-dismiss="modal">Oui</button>
          </form>
          <button onclick="window.location.href='/article/{{ data.articleUrl }}'"  class="btn btn-grad">Non</button>
        </div>
 
  
</body>

</html>