<!DOCTYPE html>
<html lang="fr">

<head>
    <title>Commentaires à modérer</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/css/registration.css" />

    {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> #}
    <noscript>
        <link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
</head>

<body>
    <h1>Derniers commentaires à modérer</h1>
    <div>
        
        {% for comment in data.commentaires %}
        {% if comment.role == 0 %}
        <p>{{ comment.created_at | date('d/m/Y')}}</p>
           <p> {{ comment.contenu}}</p>
           {% endif %}
        {% endfor %}
    </div>
</body>

</html>